<table>
  <tbody>
    <tr>
      <th>시작 시간 자동 설정 기준</th>
      <td>
        <input type="text" id="settings_begin_ratio" 
                           value="<%= settings['begin_ratio'] %>" 
                           name="settings[begin_ratio]" >
      </td>
    </tr>
    <tr>
      <th>종료 시간 자동 설정 기준</th>
      <td>
        <input type="text" id="settings_end_ratio" 
                           value="<%= settings['end_ratio'] %>" 
                           name="settings[end_ratio]" >
      </td>
    </tr>
  </tbody>
</table>
